/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color:#888;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 16px;
  }

/* BOTTONI */
.btn {
    background: deeppink;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
}

/* HEADER */
.header-container {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin-top: 25px;
}

[class*=wrap-nav] ul {
    display: flex;
    list-style: none;
}

[class*=wrap-nav] ul li {
    margin: 0 12px;
}
  
[class*=wrap-nav] ul li a {
    padding: 8px;
    font-size: 15px;
    text-decoration: none;
}

/* Left */
.wrap-nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
}

.logo img {
    max-width: 90px;
}

.wrap-nav-left ul li a{
    text-transform: uppercase;
}

.wrap-nav-left .left li a:hover{
    color:#000;
    font-weight: bold;
}


/* Right */
.wrap-nav-right {
    display: flex;
    justify-content: flex-end;
    flex-basis: 70%; 
}

.wrap-nav-right .right {
    position: relative;
}

.wrap-nav-right .right li a i{
    position: absolute;
    top: 8px;
    margin-left: 1px;
    transform: scale(0.6);
}






