/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    color:#888;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 16px;
  }

/* BOTTONI */
.btn {
    background: deeppink;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* HEADER */
.header-container {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin-top: 25px;
}

[class*=wrap-nav] ul {
    display: flex;
    list-style: none;
}

[class*=wrap-nav] ul li {
    margin: 0 12px;
}
  
[class*=wrap-nav] ul li a {
    padding: 8px;
    font-size: 15px;
    text-decoration: none;
}

/* Left */
.wrap-nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
}

.logo img {
    max-width: 90px;
}

.wrap-nav-left ul li a{
    text-transform: uppercase;
}

[class*=wrap-nav] li a:hover {
    color:#000;
    font-weight: bold;
}
    
/* Right */
.wrap-nav-right {
    display: flex;
    justify-content: flex-end;
    flex-basis: 70%; 
}

.wrap-nav-right .right {
    position: relative;
}

.wrap-nav-right .right li a i{
    position: absolute;
    top: 4px;
    margin-left: 1px;
    transform: scale(0.6);
}


/* Dropdown-menu */
.wrap-nav-right li.with-dropdown {
    position: relative;
}

/* Secondo menu */
.wrap-nav-right .dropdown-menu-prod {
    display: none;
    position: absolute;
    top: 100%;
    left: -65px;
    width: 300px;
    margin-top: 10px;
    padding: 15px 20px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    filter: drop-shadow(0 0 5px rgba(0,0,0, .2));
}

.wrap-nav-right .dropdown-menu-prod .box {
    display: block;
    margin-bottom: 10px;
    color: #888;
    transition: color .4s;
    font-size: 14px;
    text-align: left;
}








/* Secondo menu */
.wrap-nav-right .dropdown-menu-az {
    display: none;
    position: absolute;
    top: 100%;
    right: -45px;
    width: 160px;
    margin-top: 10px;
    padding: 15px 20px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    filter: drop-shadow(0 0 5px rgba(0,0,0, .2));
}

.wrap-nav-right .dropdown-menu-az .box {
    display: inline-block;
    margin-bottom: 10px;
    color: #888;
    transition: color .4s;
    font-size: 14px;
}








